<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Demo</title>
</head>
<body>
    <h1 style="color:red">EJS Demo</h1>
    This is a view in EJS.
    <p></p>
    <a target="_blank" href="https://ejs.co/">EJS Website</a>
</body>
</html>